# Required for Django in production (set on Render dashboard)
DJANGO_SECRET_KEY=

# Meta / Facebook Conversions API
META_ACCESS_TOKEN=
META_PIXEL_ID=2881174115331441

# TikTok Events API
TIKTOK_ACCESS_TOKEN=
TIKTOK_PIXEL_ID=D6L0BBRC77UFDH5VO0LG

# Reddit Conversions API
REDDIT_ACCESS_TOKEN=
REDDIT_PIXEL_ID=a2_ibjroms8g8bo
